<!DOCTYPE html>
<html>
  <head>
    <title>myMoneyLog QuickAdd</title>
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/datepicker.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style type="text/css">
.control-group {
	margin-bottom: 10px !important;
}
   </style>
   
    <SCRIPT language=Javascript>
//consertar o lance do pendente/credito que ta com margin fixa. Se nao rolar, separa os groups em duas linhas. + facil
//fazer o limpar funcionar de novo, talvez só um redirect pro /
      function handleKeyPress(evt,obj)
      {
        var simulateAndroidBug = false
         var charCode = (evt.which) ? evt.which : evt.keyCod
         if (simulateAndroidBug) {
         charCode = 229
       }
//Fn = "checkBS2(\'"+obj.id+"\',\'"+charCode+"\')"
window.setTimeout('validateKeyPress(\''+obj.id+'\',\''+charCode+'\')',70); //Why 70? Because I can.
return simulateAndroidBug
}

function validateKeyPress(id,charCode) {
  obj = document.getElementById(id);
        
         if  (charCode >= 48 && charCode <= 57) {
        	 obj.value = processKeyPress(obj, charCode)
       	 }
       	 
     	console.log(charCode)
         if  (charCode == 81) { obj.value = processKeyPress(obj, 49) }
         if  (charCode == 87) { obj.value = processKeyPress(obj, 50) }
         if  (charCode == 69) { obj.value = processKeyPress(obj, 51) }
         if  (charCode == 82) { obj.value = processKeyPress(obj, 52) }
         if  (charCode == 84) { obj.value = processKeyPress(obj, 53) }
         if  (charCode == 89) { obj.value = processKeyPress(obj, 54) }
         if  (charCode == 85) { obj.value = processKeyPress(obj, 55) }
         if  (charCode == 73) { obj.value = processKeyPress(obj, 56) }
         if  (charCode == 79) { obj.value = processKeyPress(obj, 57) }
         if  (charCode == 80) { obj.value = processKeyPress(obj, 48) }
        
         if (charCode == 8) {
        	 obj.value = processKeyPress(obj,0)
         }

         if (charCode == 229) {
        	 obj.value = processKeyPress(obj,229)
         }

      }

      function replaceAll(string, token, newtoken) {
    		while (string.indexOf(token) != -1) {
    	 		string = string.replace(token, newtoken);
    		}
    		return string;
    	}
      
      function processKeyPress(obj,charCode) {
    	  
          var temp = replaceAll(obj.value,',','');
          var temp2 = '';

          if (charCode == 0) {
//    		  temp2 = temp.slice(temp.length-1)
    		  console.log('temp2='+temp2)
    		  temp = temp.slice(0,temp.length-1)
    	  }

    	  
//          if (charCode == 229) {
//    		  temp2 = temp.slice(temp.length-1)
//    		  console.log('temp229='+temp2)
//    		  temp = temp.slice(0,temp.length)
//    	  }
    	  
          console.log('p1 '+temp)
		  temp = temp + String.fromCharCode(charCode);
          console.log('p2 '+temp)
          temp = parseInt(temp,10)+'';
          console.log('p3 '+temp)
          console.log('temp.length '+temp.length)
          if (temp.length > 2) {
          	 temp = temp.slice(0,temp.length-2)+','+temp.slice(temp.length-2)
          }
          if (temp.length == 2) {
             console.log('=2')
         	 temp = '0,' + temp;
          }
          if (temp.length == 1) {
             console.log('=1')
         	 temp = '0,0' + temp;
          }
          if (temp.length < 1) {
             console.log('=0')
            	 temp = '0,00'
             }

          // var temp2 = replaceAll(temp,',','');
          // var temp2 = replaceAll(temp2,'0','');

          // if (temp2 == '') {
          //   temp = '0,000'
          // }

          console.log(temp)
          
          //TODO: antes de retornar, remover caracteres nao numeros e ','
          return temp;
      }
      
      //-->
   </script>
       
  </head>
  <body>
 
  <h3>mML QuickAdd</h3>
 
<form class="form-horizontal" method="get" action="/add" accept-charset="utf-8">  
        <fieldset>  
          <div class="control-group">  
            <label class="control-label" for="input01">Favorecido</label>  
            <div class="controls">  
              <input type="text" placeholder="Digite para autocomplete" autocomplete="off" class="input-large" id="description" name="description" data-items="4" data-provide="typeahead" data-source='[{% for fav in favs %}"{{ fav }}",{% endfor %}""]'>  
            </div>  
          </div>  
          <div class="control-group">  
            <label class="control-label" for="input01">Valor</label>  
	          <div class="controls" style="float:left; margin-left:20px;">
				<div class="btn-group" data-toggle="buttons-radio">
				  <button type="button" id="btnDebito" class="btn">Débito</button>
				  <button type="button" id="btnCredito" class="btn">Crédito</button>
				</div>
			</div>
        	  <div class="controls">  
              	<input type="text"  style="margin-left:3px; width:91px;" class="input" id="input01" value="0,00" name="value" onkeydown="return handleKeyPress(event,this)">
              </div>  
          </div>  
		  <input type="hidden" name="transaction_type" id="transaction_type" value="minus">
		  <input type="hidden" name="transaction_pending" id="transaction_pending" value="no">
          <div class="control-group">  
            <label class="control-label" for="select01"">Conta</label>  
            <div class="controls">  
              <select id="select01" name="account">  
    {% for account in accounts %}
                <option>{{ account }}</option>  
    {% endfor %}
              </select>  
            </div>  
          </div>  
          <div class="control-group">  
            <label class="control-label" for="select01">Tags</label>  
            <div class="controls" style="float:left; margin-left:20px;">  
              <select id="select01" style="width:126px;"  name="tags1">  
    {% for categ in categories %}
                <option>{{ categ }}</option>  
    {% endfor %}
              </select>  
            </div>  
            <div class="controls">  
              <select id="select02" style="margin-left:3px; width:125px;" name="tags2">  
              <option></option> 
    {% for categ in categories %}
                <option>{{ categ }}</option>  
    {% endfor %}
              </select>  
            </div>  
          </div>  
          <div class="control-group">  
            <label class="control-label" for="dateinput01">Data</label>  
            <div class="controls controls-row">  
              <input type="text" class="input" style="width:112px;" id="dateinput01" name="date">  
			  <button type="button" class="btn" style="width:125px;" id="btnPending" data-toggle="buttons-radio">Pendente?</button>
            </div>  
          </div>  
          <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Salvar</button>  
            <!--<button class="btn">Limpar</button>-->  
          </div>  
        </fieldset>  
</form>    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
	<script src="/static/bootstrap/js/bootbox.min.js"></script>
<script>
		$(function(){
			$('#dateinput01').datepicker({
				format: 'yyyy-mm-dd'
			});
			$('#dateinput01').datepicker('setValue', new Date())
			$('#btnDebito').button('toggle')
		})

		$("#btnDebito").click( function() {
		  // check input ($(this).val()) for validity here
		  $('input[name=transaction_type]').val("minus");
		});	
	
		$("#btnCredito").click( function() {
			  // check input ($(this).val()) for validity here
		  $('input[name=transaction_type]').val("plus");
		});	
		
		$("#btnPending").click( function() {
			  // check input ($(this).val()) for validity here
			if ($('input[name=transaction_pending]').val() == "no") {
				$('input[name=transaction_pending]').val("yes");
			} else {
				$('input[name=transaction_pending]').val("no");
			}
		});	
		
		
</script>

  </body>
</html>